/old/
public/assets/*
!public/assets/
!public/assets/index.json
!public/assets/actors/
!public/assets/actors/**
!public/assets/backgrounds/
!public/assets/backgrounds/**
!public/assets/config/
!public/assets/config/**

node_modules/
.vite/
npm-debug.log*
